@{
    ViewBag.Title = "Ingredients BackBone.JS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <link href="@Url.Content("~/ContentBB/Ingredients/Ingredients.css")" rel="stylesheet" type="text/css" />
}
@section js{
    <script src="@Url.Content("~/Scripts/backbone.js")" type="text/javascript"></script>
    @* 
        <script src="@Url.Content("~/Scripts/knockout.dev.js")" type="text/javascript"> </script>
        <script src="@Url.Content("~/Scripts/knockback.js")" type="text/javascript"></script>
    *@
    <script src="@Url.Content("~/ContentBB/Ingredients/Ingredients.js")" type="text/javascript"> </script>
}

<div id="header">
    <span class="title">Backbone Cellar</span>
</div>

<div id="sidebar">
</div>

<div id="content">
    <h2>
        Welcome to Backbone Cellar</h2>
    <p>
        This is a sample application part of of three-part tutorial showing how to build
        a CRUD application with Backbone.js.
    </p>
</div>

<div class="row">
    <!-- Templates -->
    <script type="text/template" id="tpl-ingredient-list-item">
	<a href='#ingredients/<%= Id %>'><%= Name %></a>
    </script>
    <script type="text/template" id="tpl-ingredient-details">
    <div class="form-left-col">
        <label>Id:</label>
        <input type="text" id="ingredientId" name="id" value="<%= Id %>" disabled />
        <label>Name:</label>
        <input type="text" id="name" name="name" value="<%= Name %>" required/>
    </div>
    <div class="form-right-col">
        <img height="300" src="../pics/<%= picture %>"/>
        <label>Notes:</label>
        <textarea id="description" name="description"><%= description %></textarea>
    </div>
    </script>
</div>
