<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/css")" rel="stylesheet" type="text/css" />
    @RenderSection("css", required: false)
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a><a class="brand" href="@Url.Content("~")">knockout.js+web.api</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li><a href="@Url.Content("~/IngredientsKO")">IngredientsKO</a></li>
                        <li><a href="@Url.Content("~/IngredientsMvc")">IngredientsMvc</a></li>
                        <li><a href="@Url.Content("~/Administration/RecreateDataBase")">Admin</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="container">
        <br/>
        <br/>
        <br/>
        @RenderBody()
    </div>
    <!-- /container -->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
    @RenderSection("js", required: false)
</body>
</html>
